@charset "utf-8";
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.wrap{width: 100%; margin: auto; font-family: 'S-CoreDream-3Light';}

.header{width: 100%; height: 60px; background-color: #000;box-sizing: border-box;}
.header .logo{background-image: url('../img/logo.png'); width:114px; height: 60px; background-size: contain; background-repeat: no-repeat; background-position: center ;}
.header .inner{display: flex; justify-content: flex-start;}
.header .nav{margin-left: 30px;}
.header .nav ul{display: flex; justify-content: flex-start; align-items: center; height: 60px;}
.header .nav ul li{}
.header .nav ul li a{color: #E4B95D; font-size: 16px; padding: 20px; cursor: pointer;position: relative;}
.header .nav ul li.on a::after{content: ""; display: inline-block; width: 100%; height:4px ;background-color: #E4B95D; position: absolute; bottom: 1px; left: 0;}


.content{} 
.inner{width: 1550px; margin: auto}
.content h2{text-align: center; font-size: 22px; padding: 50px 0} 

.section01{background-color:rgb(237, 243, 248);}
input::-ms-clear {display: none;}
.section01 input{font-size: 14px; height:36px; padding: 0 12px; border:1px solid #d9d9d9; vertical-align: top; width: 150px}
.section01 input:active{border: 2px solid #E4B95D !important;}
.section01 input:focus{border: 2px solid #E4B95D !important;}
.section01 .btn{border: none; padding: 7px 40px; border-radius: 20px; background-color: #E4B95D; font-size: 16px; font-weight: 500; cursor: pointer; transition: 0.2s}
.section01 .btn:hover{background-color:#000; color:#E4B95D ; }
.section01 .inner{ padding: 50px 0 }
.section01 .dateBox{display: flex; justify-content: center; padding: 30px 0}
.section01 .dateBox>span{font-size: 20px; line-height: 30px}
.section01 .dateBox .date-group{margin: 0 20px; position: relative}
.section01 .dateBox .date-group input{}
.section01 .dateBox .date-group .picker{background-image: url(../img/cal.png); width: 25px; height: 25px; display: inline-block; background-repeat: no-repeat; position: absolute; top: 7px; right: 10px; background-size: contain; z-index: 9; cursor: pointer; background-color: #efefef}


.section01 .searchBox{display: flex; justify-content: center; padding: 30px 0; align-items: center; height: 60px;}
.section01 .searchBox .search-col{position: relative; margin: 0 25px}
.section01 .searchBox .search-col span{position: absolute; top: -20px; display: block; font-size: 14px}
.section01 .searchBox .search-col .input{}
.section01 .searchBox .search-col .spst{position: absolute; display: block; font-size: 14px; top: 10px; left: -40px}

.section02 .tableBox{padding-top: 100px;}



.table {position:relative; width:100%; margin-bottom:0;}
.table::before {display:block; position:absolute; top:0; width:100%; height:1px; background:#666; content:"";}
.table::after {display:block; position:absolute; top:0;  left:-1px; width:2px; height:100%; background:#fff; content:"";}
.table th, .table td {line-height:16px; text-align:center; font-size:13px; letter-spacing:-0.5px; word-break:keep-all; word-wrap:break-word; vertical-align:middle; height: 50px;}
.table>thead>tr>th {line-height:16px; font-weight:bold; color:#1a1a1a; background:#eceded; border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;}
/* .table th:first-child, .table tbody td:first-child {border-left:none;} */
.table tbody th, .table tbody td {border-left:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.table tbody th {font-weight:bold; background:#f2f2f2;}
.table tbody td.txtr {padding-right:10px;}
.table tbody tr:hover{background-color: rgba(240, 248, 255, 0.452);}
/* .table tbody td.txtl {padding-left:10px;} */

.table.hz th, .table.hz td {padding:12px 18px 12px;font-size:13px; text-align:left; letter-spacing:-0.7px; border-left:none;word-break: break-all;}
.table.hz th.vat {padding-top:24px;}
.table.hz tbody td.txtr {padding-right:20px;}
.table.hz tbody td.txtl {padding-left:20px;}
.table + .button {padding-top:20px;}
.table tbody tr td:nth-child(3) p{text-decoration: underline; text-underline-position: under; cursor: pointer; }
.table tbody tr td:nth-child(3) p:hover{color:#E4B95D ; }
.table .TBselect select{border: none; background:#eceded; box-shadow: none;}
.table .btn{background-color: #E4B95D; border: none; padding:7px 20px; transition: 0.2s}
.table .btn:hover{color:#E4B95D ; background-color: #000; cursor: pointer;}
/* paging */
.page_nav {position:relative; padding:0 30px; margin-top:20px; text-align:center; display: flex; justify-content: center; align-items: center; margin-bottom:20px; }
.page_nav ul{display: flex; justify-content: center;}
.page_nav ul li{width: 30px; height: 30px; margin: 5px; line-height: 30px; background-color: #E4B95D; border-radius: 200px; font-size: 14px; text-align: center; font-weight: 500; cursor: pointer}
.page_nav .prev{background-image: url(../img/btn_page_back.png); width: 30px; height: 30px; background-repeat: no-repeat; background-position: center; background-size: contain; cursor: pointer}
.page_nav .nex{background-image: url(../img/btn_page_next.png); width: 30px; height: 30px; background-repeat: no-repeat; background-position: center; background-size: contain; cursor: pointer}
.page_nav ul li.on{background-color:#000; color:#E4B95D ;  }

/*popup.html*/
.layerWrap{display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 99999999; width:100%; height:100%; overflow: hidden; font-family: 'S-CoreDream-3Light';}
.layerWrap .layerRow{display: table; table-layout: fixed; width:25%; height:100%; margin: 0 auto;}
.layerWrap .layerCell{display: table-cell; text-align: center; vertical-align: middle; }
.layerWrap .layerHd{display: flex; justify-content: space-between; padding:10px}
.layerWrap .layerIn{padding:0px; background: #fff;}
.layerWrap .layerCnt{font-size: 20px; line-height: 24px; width:100%; height: 568px; overflow: hidden; overflow-y: auto;}
.layerWrap .layerCnt.autoHeight {height:auto;}
.layerWrap .layerCnt .lyIn{ padding:20px; text-align: left; vertical-align: top; margin: auto; text-align: center}
.layerWrap .layerCnt .lyIn p{text-align: center; color: #0d0d0d; padding: 40px 0; font-size: 18px; line-height: 36px}
.layerWrap .layerCnt .lyIn span{display: inline-block;}
.layerWrap .layerBtm ul{display: table; table-layout: fixed; width:100%; background: #d9d9d9;}
.layerWrap .layerBtm li{display: table-cell; width:50%;position:relative;}
.layerWrap .layerBtm li.btnSelectWrap {border-left:1px solid #c4c4c4;}
.layerWrap .layerBtm .btn{width:100%;}
.layerWrap .layerBtm .btn em{font-weight: bold;}
.layerWrap .layerBtm li .selectList {display:none;position:absolute;left:0; bottom:56px;width:100%;}
.layerWrap .btn.close{position: absolute; right:20px; top:18px; z-index: 1; }
.layerWrap .btn.close span{font-size: 18px; line-height: 22px; }    
        
/* 알바리스트 팝업 */

.layerWrap .WL .layerHd{display: flex; justify-content: space-between; padding:20px 20px 0 20px}
.layerWrap .WL .layerHd h2{font-size: 20px; padding: 0;}
.layerWrap .WL .layerHd i{font-size: 30px; cursor: pointer; transition: 0.2s}
.layerWrap .WL .layerHd i:hover{color: #E4B95D;}
.layerWrap .WL .layerCnt .lyIn .tableBox{height: 500px; overflow-y: scroll; padding-top: 0;}
.layerWrap .WL .layerCnt .lyIn .tableBox thead{position: sticky; top: 0;}
.layerWrap .WL{display: table; table-layout: fixed; width:900px; height:100%; margin: 0 auto;}
.layerWrap .WL .lyIn p{text-align: center; color: #0d0d0d; padding: 10px 0; font-size: 14px; line-height: 30px}
.WL .searchBox{display: flex; justify-content: center; padding: 30px 0; align-items: center; height: 50px; margin: 20px 0 0 0;}
.WL .searchBox .search-col{position: relative; margin: 0 15px;}
.WL .searchBox .search-col span{position: absolute; top: -20px; display: block; font-size: 14px}
.WL .searchBox .search-col .input{font-size: 14px;}
.WL .searchBox .btn{border: none; padding: 7px 40px; border-radius: 20px; background-color: #E4B95D; font-size: 16px; font-weight: 500; cursor: pointer; transition: 0.2s}
.WL .searchBox .btn:hover{background-color: #000; color: #E4B95D;}
.WL input:active{border: 2px solid #E4B95D !important;}
.WL input:focus{border: 2px solid #E4B95D !important;}


#dim{display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10000; width:100%; height:100%; background: rgba(0,0,0,.4); font-family: inherit; overflow: hidden; }
#dim.transparentDim {background:none;}
.btn.pu{color:#fff; border:1px solid #000; background: #000; padding: 15px 0; font-size: 18px; font-weight: bold}
.btn.cu{color:#fff; border:1px solid #E4B95D; background: #E4B95D; padding: 15px 0; font-size: 18px; font-weight: bold}
.btn.ca{color:#fff; border:1px solid #000; background: #000; padding: 10px 0; font-size: 18px}
.btn:active{background-color: #302300; border:1px solid #302300;}



/*detail.html*/
.container {width:1280px; min-width:1280px; margin:0 auto;padding:0 30px;position: relative;}


.tb_right{position: absolute;top:0; right:0;}
.tb_right > strong{font-size:18px;line-height: 36px;margin-right:20px;}
.tb_right > p{font-size: 14px; line-height: 36px;}
.tb_right .deposit{font-size: 18px;line-height: 36px; color:#5345b7; margin-right:0;}
.radio_tit{font-size: 12px; color:#1a1a1a; margin-left: 40px;font-weight: normal;line-height: 21px;vertical-align: middle;}
.tb_right.top{position: static; text-align: center; padding:40px 0 0;}
.dll_text{font-size:13px; color:#4c4f50; line-height: 36px; margin-bottom:5px;}
.detail_tb .point_right{position: absolute; top:12px; right:50px;}
.ct_div .ct_tt {margin-bottom:13px; font-size:13px; font-weight:bold; letter-spacing:-0.5px;}
.ct_div.hz > div {float:left;}
.ct_div.hz .ct_tt {padding-right:20px; margin:0; line-height:36px; font-size:13px;}
.detail_tb .tb_info h3{margin:40px 0 5px; font-size: 18px; line-height: 36px;}
.detail_tb .tb_list h3{background:url(../img/ic_dropdown_open.png) no-repeat right 5px;cursor: pointer; }
.tb_info_s{font-size:12px; line-height: 16px;color:#1a1a1a;margin-left:10px;font-weight: 300;}
.detail_tb .tb_list h3{margin:20px 0!important; border-bottom:1px solid #e5e5e5; padding-bottom:20px;}

.detail_tb .tb_info h3{margin:40px 0 5px; font-size: 18px; line-height: 36px;}
.detail_tb .tb_list h3{background:url(../img/btn_open.png) no-repeat right 5px;cursor: pointer; }
.detail_tb .tb_list h3{margin:20px 0!important; border-bottom:1px solid #e5e5e5; padding-bottom:20px;}

.gray_box{background:#f2f2f2;padding:20px;}
.tb_t{font-size:16px;line-height:24px; font-size: 16px; margin-left:40px;}

/* select style */
select {border-radius:0; -webkit-appearance:none; -moz-appearance:none; appearance:none; color:#1a1a1a; cursor:pointer;}
select::-ms-expand {display:none;}
.select_box {position:relative; height:36px;}
.select_box:only-child {width:100%;}
.select_box select ,.select{width:100%; height:36px; padding-left:9px; padding-right:25px; background:#fff url("../img/ic_dropdown_open.png") no-repeat right 9px center; background-size:12px 7px; border:1px solid #bfbfbf;}
.select_box select[readonly] {background-color:#edeff2; background-size:12px 7px;opacity: 0.7;}
.sel_input_btn:first-child, .sel_input_btn:only-child {margin-top:0;}


/* input */
input.input {height:36px; padding:0 9px; color:#1a1a1a; border:1px solid #bfbfbf; background:#fff;border-color: #bfbfbf !important;}
input::-webkit-input-placeholder {color:#b2b2b2;}
input:-ms-input-placeholder {color:#b2b2b2;}
input[readonly] {background:#edeff2; opacity: 0.7;}
input[value]{color:#0d0d0d;}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {-webkit-appearance:none; appearance:none; margin:0;}


/*style*/
.tb1 th,.tb1 td{width: 196px}
.tb2 th,.tb2 td{width: 196px}
.tb3 th,.tb3 td{width: 196px}
.tb4 th,.tb4 td{width: 196px}

.tb42 .address{width: 90%; margin: 5px 0 }
.tb43 th,.tb43 td{width: 150px}
.tb43 input{width: 60px}
.tb42 .memo{width: 90%; padding-bottom: 30px}

.bottom_btn{padding: 50px 0; width: 100%; display: flex; justify-content: center; align-items: center;}
.bottom_btn .btn{border: none; padding: 10px 45px; font-size: 16px; background-color:#E4B95D; transition: 0.2s; cursor: pointer; border-radius: 18px; margin: 5px 15px }
.bottom_btn .list{background-color: #484848; color: #fff}
.bottom_btn .btn:hover{background-color:#000; color:#E4B95D ;  }


/* vuetify */
.v-text-field{padding-top: 0 !important;}
.v-text-field__details{display: none !important;}
.v-application p{margin-bottom: 0 !important; }
.v-application ul, .v-application ol{padding-left:0 !important}
.theme--light.v-input input, .theme--light.v-input textarea{background-color: #fff !important;}
/*login*/
.login{}
.lIner .logo{display: block; width:114px; height: 60px; background-color: #000; position: absolute; top: 0px; left: 0; background-image: url('../img/logo.png'); background-position: center; background-repeat: no-repeat; background-size: contain}
.lIner{width: 820px; background-color: #F5F7FA; position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); padding: 120px 50px; display: flex; align-items: center; justify-content: space-around}
.lIner .loginBox{width:600px}
.lIner .loginBox .box{width: 100%; display: flex; justify-content: flex-start; align-items: center; margin: 20px 0}
.lIner .loginBox .box span{display: inline-block; width: 20%; color: #000}
.lIner .loginBox .box .input{padding: 25px 15px; width: 70%; border: 2px solid #F5F7FA;}
.lIner .btn{width:140px; height: 120px; border: none; background-color:#E4B95D; cursor: pointer; transition: 0.3s}
.lIner .btn:hover{background-color:#000; color: #E4B95D }
.lIner input:active{border: 2px solid #E4B95D !important;}
.lIner input:focus{border: 2px solid #E4B95D !important;}
.daram{background-image: url('../img/daramdaram.jpg'); background-size: contain; width: 60px; height: 70px; background-repeat: no-repeat;
    background-position: center; position: fixed; bottom: 50px; right: 100px;}    
.daram01{ top: 129px; right: px;}















